.labelInputs label{
    color: white;
    font-weight: 500;
}
.mainBox{
    box-shadow: 3px 2px 6px 4px #888888;
    border: "1px black solid"
}
.submitBut{
    background-color:#e75e8d;
     color:white;
     font-size:larger;
}
.errors{
    color: red;
}